html,
body {
  min-width: 1200px;
  min-height: 2475px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.inner-page {
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  display: inline-block;
  padding: 18px 39px 16px;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #fb565a;
  border: none;
  border-radius: 3px;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #d7373b;
}

.button.disabled,
.button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: #000000;
}


/*main-header*/

.main-header {
  margin-bottom: 0;
  background-color: #eeeeee;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 30px;
  padding-top: 50px;
  color: #000000;
}

.main-header-logo img {
  width: 160px;
  height: 65px;
}

.main-header-logo img:hover {
  opacity: 0.6;
}

.main-header-logo img:active {
  opacity: 0.3;
}

.main-middle {
  display: flex;
  width: 800px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-end;
  padding-bottom: 9px;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 440px;
  list-style: none;
}

.user-navigation {
  display: flex;
  padding: 0;
  margin: 0;
  max-width: 130px;
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  display: block;
  color: #000000;
}

.user-navigation .login-link {
  position: relative;
  padding-left: 50px;
}

.login-link::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 10px;
  width: 15px;
  height: 15px;
  background-image: url("img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  color: rgba(0, 0, 0, 0.5);
}

.site-navigation-current {
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
  width: 74px;
  border-bottom: 2px solid #fb565a;
}


/*.slider*/

.slider {
  position: relative;
  background-color: #eeeeee;
  margin-bottom: 80px;
}

.slider-advantage {
  display: flex;
  justify-content: space-between;
  min-height: 430px;
  margin-bottom: 0;
  height: 430px;
}

.slider-item {
  display: none;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls .slide-control {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls .slide-control::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 50%;
}

.product-1:checked~.slider-list .slider-item-1 {
  display: block;
}

.product-2:checked~.slider-list .slider-item-2 {
  display: block;
}

.product-3:checked~.slider-list .slider-item-3 {
  display: block;
}

.product-1:checked~.slider-controls .slide-control-1::before,
.product-2:checked~.slider-controls .slide-control-2::before,
.product-3:checked~.slider-controls .slide-control-3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-features {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 78px;
}

.slider-features-1 {
  width: 382px;
  flex-shrink: 0;
}

.slider-list {
  padding: 0;
  margin: 0;
}

.slide-1 {
  margin: 0;
  padding: 0;
  padding-top: 17px;
  align-self: flex-end;
  width: 728px;
}

.slide-1 img {
  width: 698px;
  height: 413px;
  margin-left: auto;
  margin-right: auto;
}

.slider-features-2 {
  width: 532px;
  flex-shrink: 0;
}

.slide-2 {
  margin: 0;
  padding: 0;
  align-self: flex-end;
}

.slide-2 img {
  width: 663px;
  height: 430px;
}

.slider-features-3 {
  width: 530px;
  flex-shrink: 0;
}

.slide-3 {
  margin: 0;
  padding: 0;
  align-self: flex-end;
}

.slide-3 img {
  width: 759px;
  height: 411px;
}

.slider b {
  font-size: 55px;
  line-height: 55px;
}

.slider p {
  margin-top: 3px;
}

.slider .button {
  width: 240px;
  padding: 18px 0 16px;
}


/*.features*/

.features {
  background-color: #ffffff;
  margin-bottom: 34px;
}

.features .container {
  border-bottom: 2px solid #eeeeee;
}

.features-list {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
}

.feature-item {
  width: 300px;
  margin-right: 100px;
  padding-bottom: 80px;
}

.feature-item:last-child {
  margin-right: 0;
}

.feature-item h3 {
  margin-top: 26px;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.feature-item p {
  margin: -8px 0;
  width: 250px;
}

.feature-item .button {
  margin-top: 40px;
}

.illustration-2 .button {
  background-color: #00ca74;
}

.illustration-2 .button:hover,
.illustration-2 .button:focus {
  background-color: #00bc6c;
}

.illustration-2 .button:active {
  color: rgba(255, 255, 255, 0.7);
  background-color: #00aa62;
}

.illustration-3 .button {
  background-color: #efc84a;
}

.illustration-3 .button:hover,
.illustration-3 .button:focus {
  background-color: #eab534;
}

.illustration-3 .button:active {
  color: rgba(255, 255, 255, 0.7);
  background-color: #e5a722;
}


/*studio*/

.studio {
  background-color: #ffffff;
  margin-bottom: 75px;
}

.studio-itemes {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding-bottom: 45px;
}

.studio-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 40px;
  width: 660px;
}

.studio-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 119px;
  margin-top: 8px;
  padding-left: 37px;
  list-style: none;
}

.studio h3 {
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.studio-items li {
  position: relative;
}

.studio-items li::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: -35px;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

.studio-item p,
.studio-item ul {
  color: #283136;
}

.studio-item b {
  font-size: 45px;
  line-height: 45px;
}

.studio-item p {
  margin-top: 32px;
  margin-bottom: 23px;
}


/*promo*/

.promo {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 360px;
  padding-top: 5px;
}

.promo img {
  width: 360px;
  height: 208px;
  padding-bottom: 20px;
}

.section-title {
  margin-top: 10px;
  text-align: left;
}

.section-title th {
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
}

.section-title td {
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  color: #283136;
  width: 100px;
  padding-top: 17px;
}

.section-title sup {
  font-size: 25px;
}

.nav-button {
  padding: 0;
  padding-right: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1160px;
  list-style: none;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
  padding: 0;
  padding-right: 70px;
  padding-top: 45px;
  padding-bottom: 40px;
  align-items: baseline;
}

.nav-button img {
  opacity: 0.3;
}

.nav-button li {
  text-align: center;
}

.nav-button li:nth-child(1) {
  padding-left: 32px;
  padding-top: 12px;
}

.nav-button li:nth-child(2) {
  padding-right: 15px;
}

.nav-button li:nth-child(3) {
  padding-right: 25px;
  align-self: center;
}

.nav-button li:nth-child(4) {
  padding-right: 42px;
}

.nav-button img:hover {
  opacity: 1;
}

.nav-button a:active {
  opacity: 0.6;
}

.nav-button li:not(:first-child) {
  position: relative;
}

.nav-button li::after {
  content: "";
  position: absolute;
  bottom: 45px;
  left: -85px;
  width: 52px;
  height: 2px;
  background-color: #eeeeee;
  transform: rotate(90deg);
}

.nav-button li:nth-child(2)::after {
  left: -70px
}

.nav-button li:nth-child(3)::after {
  bottom: 27px;
}

.nav-button li:nth-child(4)::after {
  left: -90px
}


/*contacts*/

.contacts {
  height: 416px;
  position: relative;
  color: #000000;
  background-color: #f8f5f2;
  background-image: url("img/contacts.png");
  background-position: top center;
  background-repeat: no-repeat;
}

.contacts-nerds {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 55px;
  padding: 46px 52px;
  background-color: white;
}

.contacts b {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: left;
}

.contacts .contact {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
  text-align: left;
}

.contact,
.contact .phone {
  margin-top: 20px;
  width: 210px;
}

.phone a {
  color: #666666;
}

.contacts-nerds .button {
  padding: 18px 43px;
  margin-top: 40px;
}


/*modal*/

.modal {
  margin: auto;
  width: 965px;
  min-height: 590px;
  background-color: #ffffff;
  box-shadow: 0px 20px 40px 0 hsla(180, 100%, 0%, 0.75);
}

.modal-modal,
.inner-page .modal-modal {
  display: flex;
  flex-direction: column;
  width: 760px;
  margin: auto;
}

.modal-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.login-item {
  display: flex;
  flex-direction: column;
}

.form-item {
  display: flex;
  justify-content: space-between;
}

.login-item input {
  width: 360px;
}

.login-item input,
.login-item textarea {
  padding: 15px;
  margin-top: 12px;
  color: rgba(68, 68, 68, 0.5);
  border: 2px solid #d7dcde;
}

.modal h2 {
  font-size: 45px;
  line-height: 45px;
}

.inner-page .modal-login {
  bottom: -2060px;
}

.modal-login {
  display: none;
  position: absolute;
  bottom: -1462px;
  left: 740px;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}

.modal-login:target {
  display: block;
}

.modal-close {
  display: inline-block;
  opacity: 0.5;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.2;
}

.login-item input:hover,
.login-item textarea:hover {
  border-color: #b4b9bb;
}

.login-item input:focus,
.login-item textarea:focus {
  color: #444444;
  border-color: #000000;
}

.login-item input:active,
.login-item textarea:active {
  color: #e74246;
  border-color: #e74246;
}

.login-form .button {
  padding: 18px 83px;
}


/*main-footer*/

.main-footer {
  background-color: #ffffff;
  padding-top: 65px;
  margin-bottom: 70px;
}

.main-footer .container {
  display: flex;
  align-items: center;
}

.footer-social {
  display: flex;
  width: 260px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-right: 140px;
  list-style: none;
}

.discounts {
  padding-top: 12px;
  width: 580px;
}

.discounts b {
  font-size: 36px;
  line-height: 36px;
}

.discounts p {
  margin-top: 10px;
  font-size: 16px;
  line-height: 22px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #e1e1e1;
}

.social-button:hover {
  background-color: #e74246;
}

.social-button:active {
  background-color: #d7373b;
}

.social-button:active path {
  fill: #e37376;
}


/*filters-header*/

.filters-header {
  background-color: #eeeeee;
}

.page-title {
  margin: 0;
  padding-top: 77px;
  padding-bottom: 105px;
  text-align: center;
  font-size: 55px;
  line-height: 55px;
  margin-bottom: 58px;
}

.range-filter {
  width: 260px;
  margin-top: 45px;
  margin-bottom: 52px;
}

fieldset {
  margin: 0;
  padding: 0;
}

fieldset:not(:first-child) {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 17px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 260px;
  font-size: 0;
}

.price-controls label {
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 80px;
  padding: 10px 0;
  margin-left: 5px;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

.store-templates {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
}

.filters {
  margin: 0;
  padding: 0;
  width: 260px;
}

.filters legend {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.filters fieldset {
  border: none;
}

fieldset:nth-child(2) .filter-option {
  padding-bottom: 5px;
}

fieldset:nth-child(3) .filter-option {
  padding-bottom: 5px;
}

.filter-option {
  padding-left: 39px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  left: -4px
}

.filter-input-checkbox+label::before {
  content: "";
  position: absolute;
  left: -36px;
  top: -4;
  width: 19px;
  height: 19px;
  border: 2px solid #000000;
  border-radius: 4px;
  opacity: 0.4;
}

.filter-input-checkbox:checked+label::after {
  content: "";
  position: absolute;
  top: -3px;
  left: -35px;
  width: 27px;
  height: 23px;
  background-color: #ffffff;
  background-image: url("img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-input-radio+label::before {
  content: "";
  position: absolute;
  left: -36px;
  top: -2px;
  width: 17px;
  height: 17px;
  border: 4px solid #000000;
  border-radius: 50%;
  opacity: 0.4;
}

.filter-input-radio:checked+label::after {
  content: "";
  position: absolute;
  top: 6px;
  left: -28px;
  width: 9px;
  height: 9px;
  background-color: #000000;
  border-radius: 50%;
  opacity: 0.4;
}

.filter-category .filter-option {
  margin-top: 15px;
}

.filter-range label,
.filter-range output {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #283136;
}

.filters ul {
  padding-left: 0;
  font-size: 16px;
  line-height: 20px;
  color: rgb(0, 0, 0, 0.7);
  list-style: none;
}

.filters legend:nth-child(2) {
  margin-top: 60px;
}

.filter-input,
.filter-input:hover+label {
  color: #000000;
}

.filter-input:disabled+label {
  color: rgb(0, 0, 0, 0.3);
}

.inner-page .filter-button {
  width: 260px;
  color: #000000;
  background-color: #eeeeee;
}

.inner-page .filter-button:hover,
.inner-page .filter-button:focus {
  background-color: #dfdfdf;
}

.inner-page .filter-button:active {
  color: rgba(0, 0, 0, 0.5);
  background-color: #d5d5d5;
}


/*template-directory*/

.template-directory {
  display: flex;
  flex-direction: column;
  width: 760px;
}

.sorting-template,
.sorting-type,
.sorting-dir-type,
.sorting-type-dir {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.sorting-dir-type {
  width: 40px;
}

.sorting-template {
  margin-bottom: 20px;
}

.sorting-type-dir {
  width: 360px;
}

.sorting-template h2 {
  font-size: 18px;
  line-height: 18px;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

.sorting-template ul {
  margin: 0;
  list-style: none;
}

.sorting-type {
  margin-left: 260px
}

.sorting-type li {
  margin-right: 25px;
}

.sorting-dir-type a {
  opacity: 0.3;
}

.sorting-type a {
  font-size: 14px;
  line-height: 18px;
  color: rgb(0, 0, 0);
  opacity: 0.3;
}

.sorting-dir-type a:hover,
.sorting-type a:hover {
  opacity: 0.6;
}

.sorting-dir-type a:active,
.sorting-type a:active {
  opacity: 1;
}

.sorting-current {
  text-transform: uppercase;
  opacity: 1;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 0px;
  margin-top: 5px;
  list-style: none;
}

.catalog-item {
  position: relative;
  width: 360px;
  margin-right: 40px;
  margin-top: 67px;
  background-color: #FFFFFF;
}

.catalog-item:nth-last-child(1) li {
  border: #ff3300;
}

.catalog-item::before {
  content: "";
  position: absolute;
  top: -40px;
  left: 0px;
  width: 360px;
  height: 40px;
  background-image: url("img/browser.svg");
  background-position: top center;
  background-repeat: repeat;
  opacity: 0.1;
}

.catalog-item:hover::before {
  opacity: 1;
}

.catalog-item:hover .hidden-menu {
  opacity: 1;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item:hover {
  box-shadow: -5px 12px 10px rgba(0, 0, 0, 0.2), 5px 10px 10px rgba(0, 0, 0, 0.2);
}

.hidden-menu {
  position: absolute;
  padding: 0;
  margin: 0;
  width: 360px;
  height: 232px;
  opacity: 0;
  top: 345px;
  text-align: center;
  background-color: #eeeeee;
}

.hidden-menu:hover {
  opacity: 1;
}

.hidden-menu h3 {
  padding-top: 13px;
  text-transform: uppercase;
}

.hidden-menu p {
  width: 240px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.catalog-item a:first-child {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.catalog-item .button {
  padding: 16px 60px;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 55px;
}

.pagination-item {
  margin: 0;
  padding: 0;
  margin-right: 12px;
  margin-bottom: 60px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item a {
  display: block;
  padding: 15px 18px;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  background-color: #eeeeee;
  border: 2px solid #eeeeee;
}

.pagination-item:last-child a {
  padding: 15px 76px;
}

.pagination-item a:hover {
  background-color: #dfdfdf;
}

.pagination-item a:active {
  color: rgba(0, 0, 0, 0.5);
  background-color: #d5d5d5;
}

.pagination-item-current a {
  color: #000000;
  background-color: #ffffff;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #000000;
  background-color: #ffffff;
}
